@model IEnumerable<EmmasEngines.Models.Supplier>

	<table class="table table-striped" id="inventoryTable">
						<thead>
							<tr class ="bg-info">
				
								<th>
									<input type="submit" name="actionButton" value="Name" class="tableHeaders" />
								</th>
								<th>
									Phone
									@*<input type="submit" disabled="disabled" value="Phone" class="tableHeaders" />*@
									@*@Html.DisplayNameFor(model => model.Phone)*@
								</th>
								<th>
									Email
									@*<input type="submit" disabled="disabled" value="Email" class="tableHeaders" />*@
									@*@Html.DisplayNameFor(model => model.Email)*@
								</th>
								<th>
									Address
									@*<input type="submit" disabled="disabled" value="Address" class="tableHeaders" />*@
									@*@Html.DisplayNameFor(model => model.Address)*@
								</th>
								<th>
									City
									@*<input type="submit" disabled="disabled" value="City" class="tableHeaders" />*@
									@*@Html.DisplayNameFor(model => model.City)*@
								</th>
								<th>
									Province
									@*<input type="submit" disabled="disabled" value="Province" class="tableHeaders" />*@
									@*@Html.DisplayNameFor(model => model.City.ProvinceCode)*@
								</th>
								<th>
									Postal
									@*<input type="submit" disabled="disabled" value="Postal" class="tableHeaders" />*@
									@*@Html.DisplayNameFor(model => model.Postal)*@
								</th>

								<th></th>
							</tr>
						</thead>
						<tbody id="myTable">
							@foreach (var item in Model)
							{
								<tr class="table-hover">
			
									<td>
										@Html.DisplayFor(modelItem => item.Name)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Phone)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Email)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Address)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.City.Name)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.City.ProvinceCode)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Postal)
									</td>

				<td>
					<div class="btn_crud">
						<button class="btn_crud_add" type="button" tabindex="180" onclick="showInPopup('@Url.Action("AddOrEdit","Suppliers",new {id = item.ID},Context.Request.Scheme)','ADD SUPPLIER')" id="btn_add_popup" aria-label="button for add suppliers">
							<i class="fa-solid fa-pen"></i>
						</button>
					</div>
					@*Removed delete button *@
					@*										<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
				</td>
								</tr>
							}
						</tbody>
					</table>
<script>
	$("#SearchString").on("keyup", function () {
		var txtEnter = $(this).val();
		$("table tr").each(function (results) {
			if (results !== 0) {
				var id = $(this).find("td:nth-child(1)").text();
				if (id.indexOf(txtEnter) !== 0 && id.toLowerCase().indexOf(txtEnter.toLowerCase()) < 0) {

					$(this).hide();

				}
				else {
					$(this).show();
				}
			}
		});
	});
</script>