@model IEnumerable<EmmasEngines.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h4>SUPPLIERS</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
<<<<<<< HEAD
                Supplier ID
=======
                @Html.DisplayNameFor(model => model.ID)
>>>>>>> 2076b3ecbb6e805dafdcff6ea18dbcd63aa6badd
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.City.Province.Name)
            </th>
            <th>
=======
>>>>>>> 2076b3ecbb6e805dafdcff6ea18dbcd63aa6badd
                @Html.DisplayNameFor(model => model.Postal)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
<<<<<<< HEAD
=======
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postal)
>>>>>>> 2076b3ecbb6e805dafdcff6ea18dbcd63aa6badd
            </td>
            <td>
				@Html.DisplayFor(modelItem => item.City.Province.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postal)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
    
    </tfoot>
</table>
