@model EmmasEngines.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/pages/invoiceDetails.css" asp-append-version="true" />


<div>

    <img id="logo" src="~/imgs/Logo_ESE.png" alt="Emma's Engines Logo" />
    <h1>Emma's Small Engines</h1>
    <p>
        53 Niagara Street, Welland, Ontario<br />
        (905) - 777 - 7777<br />
        EmmasEngines@gmail.com<br />
        @Html.DisplayFor(model => model.Employee.FullName)
    </p>
    <hr />
    <p>
        <strong>Bill To:</strong><br />
        @Html.DisplayFor(model => model.Customer.FullName)<br />
        @Html.DisplayFor(model => model.Customer.Address),
        @Html.DisplayFor(model => model.Customer.Postal)<br />
        @Html.DisplayFor(model => model.Customer.Phone)
    </p>
    <hr />
    <h4>Invoice #@Html.DisplayFor(model => model.ID)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Invoice Date:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Description:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Payment Method:
        </dt>
        <dd class="col-sm-10">
            @foreach (var pay in Model.InvoicePayments)
            {
	            <p>@pay.Payment.Type</p>
            }
        </dd>
    </dl>

</div>
<table class="table">

    <thead>

    <th>UPC</th>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Total</th>
    </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model.InvoiceLines)
        {
            double price = item.SalePrice * item.Quantity;
            <tr>
                <td>@item.InventoryUPC</td>
                <td>@item.Inventory.Name</td>
                <td>@item.Quantity</td>
                <td>@price.ToString("C2")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            @{
                double subtotal = Model.Subtotal;
                double tax = Model.Subtotal * 0.13;
                double total = Model.Subtotal * 1.13;
            }
            <td></td>
            <td><strong>Subtotal:</strong> @subtotal.ToString("C2")</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><strong>Tax:</strong> @tax.ToString("C2")</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><strong>Total:</strong> @total.ToString("C2")</td>
            <td></td>
        </tr>
    </tfoot>
</table>

@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
