@model IEnumerable<EmmasEngines.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}
<section id="pageName">
    <h1>INVOICES</h1>
</section>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<form asp-action="Index" method="get">
<div id="inventoryMain">
    <div class=" divider2_desc_btn">
<table class="table table-striped" id="inventoryTable">
    <thead>
        <tr class="bg-info">
            <th class="">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th class="">
                @Html.DisplayNameFor(model => model.Appreciation)
            </th>
            <th class="">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="">
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th class="">
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th class="">Invoice Lines Count</th>
            <th class="">Payment Count</th>
            <th class=""></th>
        </tr>
    </thead>
    <tbody id="myTable">
@foreach (var item in Model) {
        <tr class ="table-hover">
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @string.Format("{0:C}", item.Appreciation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
			    @*Invoice Line Count*@
                @Html.DisplayFor(modelItem => item.InvoiceLines.Count)
            </td>
            <td>
                @*Payment Line Count*@
				@Html.DisplayFor(modelItem => item.InvoicePayments.Count)
            </td>
            <td>
                                <button class="btn_crud_add" asp-action="Edit" asp-route-id="@item.ID"><i class="fa-solid fa-pen"></i></button>
                            <button class="btn_crud_add" asp-action="Details" asp-route-id="@item.ID"><i class="fa-solid fa-info"></i></button>
@*                                <button class="btn_crud_add" asp-action="Delete" asp-route-id="@item.ID"><i class="fa-solid fa-eraser"></i></button>*@
            </td>
        </tr>
}
    </tbody>
</table>
        
</div>
</div>
    <partial name="_PagingNavBar" />
</form>
