@model IEnumerable<EmmasEngines.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<style>
    th, dt, a {
        color: black;
    }
</style>

<section id="pageName">
    <h1>INVOICES</h1>
</section>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div id="inventoryMain">
    <div class=" divider2_desc_btn">
<table class="table table-striped" id="inventoryTable">
    <thead>
        <tr class="bg-info">
            <th class="tableHeaders">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th class="tableHeaders">
                @Html.DisplayNameFor(model => model.Appreciation)
            </th>
            <th class="tableHeaders">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="tableHeaders">
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th class="tableHeaders">
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th class="tableHeaders">Invoice Lines Count</th>
            <th class="tableHeaders">Payment Count</th>
            <th class="tableHeaders"></th>
        </tr>
    </thead>
    <tbody id="myTable">
@foreach (var item in Model) {
        <tr class ="table-hover">
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appreciation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
			    @*Invoice Line Count*@
                @Html.DisplayFor(modelItem => item.InvoiceLines.Count)
            </td>
            <td>
                @*Payment Line Count*@
				@Html.DisplayFor(modelItem => item.InvoicePayments.Count)
            </td>
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                            <button class="btn_crud_add" type="button"  asp-action="Details" asp-route-id="@item.ID"><i class="fa-solid fa-info"></i></button>
                            @*                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
