@model IEnumerable<EmmasEngines.Models.Customer>

@{
	ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<main>
	<section id="pageName">
		<h1>CUSTOMER</h1>
	</section>
	<script src="/lib/jquery/dist/jquery.min.js"></script>

	<form asp-action="Index" method="get">

		<input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
		<input type="hidden" name="sortField" value="@ViewData["sortField"]" />

		<div class="form-horizontal">
			<section id="inventorySearch" style="">
				<h2><label id="searchHeader" class="control-label">Search Inventory: </label></h2>
				<input class="form-control" id="SearchString" name="SearchString" type="text" placeholder="Enter UPC Eg. ###-####-# or Inventory Name Eg. Mower">
				<div class="btn">
					<div class="btn_crud">
						<button type="submit" name="actionButton" value="Filter" tabindex="190" class="btn_crud_edit" onclick="" aria-label="button for edit items">
							<i class="fa fa-filter" aria-hidden="true"></i>
						</button>
						<span class="btn_tooltip">Filter</span>
					</div>
					<div class="btn_crud">
						<button type="submit" name="actionButton" value="Filter" tabindex="190" class="btn_crud_edit" asp-action="Index" aria-label="button for edit items">
							<i class="fa fa-eraser" aria-hidden="true"></i>
						</button>
						<span class="btn_tooltip">Clear</span>
					</div>
					@*                    <div class="btn_crud">
					<button  tabindex="190" class="btn_crud_edit" onclick="" id="btnEdit" aria-label="button for edit items">
					<i class="fa-sharp fa-solid fa-pen"></i>
					</button>
					<span class="btn_tooltip">Edit Items</span>
					</div>*@
					<div class="btn_crud">
						<button class="btn_crud_add" tabindex="180" asp-action="Create" id="btn_add_popup" aria-label="button for add items">
							<i class="fa-solid fa-plus"></i>
						</button>
						<span class="btn_tooltip">Add Items</span>
					</div>
					@*                    <div class="btn_crud">
					<button class="btn_crud_add" tabindex="180" onclick="" id="btn-add-request" aria-label="button for add order">
					<i class="fa-solid fa-cart-plus"></i>
					</button>
					<span class="btn_tooltip">Add To Order</span>
					</div>
					<div class="btn_crud">
					<button class="btn_request" onclick="" tabindex="200" aria-label="button for order request">
					<i class="fa-solid fa-pen-to-square"></i>
					</button>
					<span class="btn_tooltip">Order Request</span>
					</div>*@
				</div>
			</section>
		</div>


		<div id="inventoryMain">
			<div class=" divider2_desc_btn">
				<div class="description">

					<table class="table table-striped" id="inventoryTable">
						<thead>
							<tr class="bg-info">
								<th>
									@* @Html.DisplayNameFor(model => model.ID)*@
									<input type="submit" name="actionButton" value="ID" class="tableHeaders" />
								</th>
								<th>
									@*@Html.DisplayNameFor(model => model.FirstName)*@
									<input type="submit" name="actionButton" value="FirstName" class="tableHeaders" />
								</th>
								<th>
									@*@Html.DisplayNameFor(model => model.LastName)*@
									<input type="submit" name="actionButton" value="LastName" class="tableHeaders" />
								</th>
								<th>
									@* @Html.DisplayNameFor(model => model.Address)*@
									<input type="submit" disabled="disabled" value="Address" class="tableHeaders" />
								</th>
								<th>
									@*@Html.DisplayNameFor(model => model.City)*@
									<input type="submit" disabled="disabled" value="City" class="tableHeaders" />
								</th>
								<th>
									@*@Html.DisplayNameFor(model => model.City.ProvinceCode)*@
									<input type="submit" disabled="disabled" value="Province" class="tableHeaders" />
								</th>
								<th>
									@*@Html.DisplayNameFor(model => model.Postal)*@
									<input type="submit" disabled="disabled" value="Postal Code" class="tableHeaders" />
								</th>
								<th>
									@*@Html.DisplayNameFor(model => model.Phone)*@
									<input type="submit" disabled="disabled" value="Phone" class="tableHeaders" />
								</th>

								<th></th>
							</tr>
						</thead>
						<tbody id="myTable">
							@foreach (var item in Model)
							{
								<tr class="table-hover">
									<td>
										@Html.DisplayFor(modelItem => item.ID)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.FirstName)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.LastName)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Address)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.City.Name)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.City.ProvinceCode)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Postal)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Phone)
									</td>
									<td>
										<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
										<a asp-action="Details" asp-route-id="@item.ID">Details</a> |
										<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<partial name="_PagingNavBar" />
	</form>
</main>
<script src="https://kit.fontawesome.com/f8c88d6b79.js" crossorigin="anonymous"></script>
